version: '3'

services:

  # Database
  db:
    image: postgres:9.6.10
    container_name: postgresql

    ports:
      - "5432:5432"
    networks:
      - cinet

    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=p0stgres

    volumes:
      - ./volumes/postgres/data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d

    restart: always


  # SoanrQube
  sonarqube:
    image: sonarqube:6.7.5
    container_name: sonarqube
    
    ports:
      - "9000:9000"
    networks:
      - cinet

    environment:
        - SONARQUBE_JDBC_USERNAME=postgres
        - SONARQUBE_JDBC_PASSWORD=p0stgres
        - SONARQUBE_JDBC_URL=jdbc:postgresql://db:5432/sonar

    volumes:
      - ./volumes/sonarqube/data:/opt/sonarqube/data

    restart: always


  # インハウス Dockerリポジトリ
  registry:
    container_name: registry
    image: registry:2.6
    ports:
      - 5000:5000
    networks:
      - cinet

    volumes:
      - "./volumes/registry-data:/var/lib/registry"


  # Git Server
  gitbucket:
    image: gitbucket/gitbucket:4.29.0
    container_name: gitbucket

    ports:
      - "8888:8080"
    networks:
      - cinet

    volumes:
      - ./volumes/gitbucket:/gitbucket


  # Jenkins
  jenkins:
    image: cihandson/dockerjenkins:latest
    container_name: jenkins
    user: root

    ports:
      - "8080:8080"
    networks:
      - cinet

    volumes:
      - ./volumes/jenkins_home/data:/var/postgres_data
      - /var/run/docker.sock:/var/run/docker.sock

    restart: always

networks:
  cinet:
    driver: bridge
